
.locate_button {
    width: 32.0%; 
	height: 50px; 
	border-width: 0px;
	border-radius: 3px;
	background:#4F3D6A;
	cursor: pointer; 
	outline: none;
	font-family: Microsoft YaHei;
	color: white;
	font-size: 17px;
}

.locate_button:hover {
    background-color: #84729D;
}

#currency{
    text-align: right;
    color:#707070;
}

#point {
    margin:15px;
    display: block;
}

.box{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    margin: 10px;
    height: 100px; 
}

img {
    position: relative;
    width: auto;
    height: 40%;
}
.row{
    width: 100%;
    height: 100px;
    position: relative;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.column {
    display: block;
    margin:10px;
    width: 100%;
    height: 40%;
}

.ps {
    margin-left: 10px;
}

span {
    color: #707070;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.normal {
font-weight: normal;
}

td{
    color: #707070;
    font-weight: bold;
    text-align: center;
    border:'0'
}

table {
    width: 100%;
    height: 100%;
    border-collapse:collapse
}

tr#column td {
    background-color:white;
    border-top:7px solid #F5F5F5;
    border-bottom: 7px solid #F5F5F5;
}

tr#column {
    border-right: 7px solid #F5F5F5;
}